/dist/
/nbproject/private/
/build/
/jdm.properties
/tmp
/derbyDB/
/build.sign

developer_log.json
.DS_Store
*.zip
*.patch
.VSCodeCounter*
build.properties
hs_err_pid*.log

# deb packaging
jdiskmark-deb

# rpm packaging
jdiskmark.spec
temp_resources