/dist/
/nbproject/private/
/build/
/jdm.properties
/tmp
/derbyDB/

debug-benchmark.json
*.zip
*.patch
.VSCodeCounter*
build.properties
hs_err_pid*.log

# deb packaging
jdiskmark-deb

# rpm packaging
jdiskmark.spec
temp_resources