/dist/
/nbproject/private/
/nbproject/project.properties
/build/
/jdm.properties
/tmp
/derbyDB/

debug-benchmark.json
*.zip
*.patch
.VSCodeCounter*
build.properties
hs_err_pid*.log
.DS_Store

# deb packaging
jdiskmark-deb

# rpm packaging
jdiskmark.spec
temp_resources

#Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties

# VS Code - ignore personal files, keep shared project configs
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
# flatpak
flatpak-repo
.flatpak-builder
flatpak-staging
